*~
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/*.iml
/*.ipr
/*.iws
*.classpath
*.project
*.settings
/bin
.DS_Store
.textmate
.idea
.idea_modules
*.sublime-*
.nb-gradle
Thumbs.db
.DS_Store
.asscache
build/
grails-app/assets/vendor/*
.java-version

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.gradletasknamecache
atlassian-ide-plugin.xml
