<section class="page-block">
  <div class="container sponsors">
    <div>
      <a href="http://objectpartners.com">
        <img src="images/us/sponsors/objectpartners.png"/>
      </a>
      <div>
        <p>Object Partners, Inc is an IT consulting firm specializing in enterprise application development services since
            1996. Our success is based on a model of full-time employees with a strategic focus on utilizing both emerging
            and mature open source technologies to help clients deliver high quality software on time and within budget.
            Most recently, OPI has successfully built and deployed numerous large-scale consumer facing Grails applications,
            as well as several enterprise applications for various Android and iOS devices.</p>

            <p>Our deep roots in the JEE stack translate into open source expertise and a fundamental knowledge of how to build
            applications that are scalable, reliable, and can be easily maintained. Our services include project
            outsourcing, co-development, staff augmentation, and technology and process mentoring.
        </p>
      </div>
    </div>

    <div>
      <a href="https://corporate.target.com/careers/career-areas/information-technology">
        <img src="images/us/sponsors/target.jpg"/>
      </a>
      <div>
        <p>At Target, we have a vision: to become the best – the best culture and brand, the best place for growth and the company with the best reputation. It takes the best to become the best, and we are committed to building a team that does the right thing for our guests, shareholders, team members and communities.</p>
 
        <p>The Target Technology Services (TTS) team designs and creates innovative solutions for a variety of applications, platforms and environments. TTS not only gives Target a competitive advantage in the marketplace, but also enhances the guest experience through the smart use of technology in the retail industry.</p>
 
        <p>Target Corporation serves guests at more than 1,700 stores throughout the U.S. and at Target.com. Target will open over 100 locations in all 10 provinces across Canada in 2013. The company is headquartered in Minneapolis, Minnesota with additional headquarters locations in the U.S. in Arizona, New York, South Dakota and Utah; in Bangalore, India; and in Mississauga, Ontario, Canada. Since 1946, Target has given 5 percent of its income through community grants and programs; today, that giving equals more than $4 million a week.</p>
      </div>
    </div>

    <div>
      <a href="http://bloomhealth.com">
        <img src="images/us/sponsors/bloom.png"/>
      </a>
      <div>
        <p> 
        We're Bloom Health, a new kind of benefits company. 
        </p>
        <p>
        At Bloom we're proud of our open and collaborative culture, a place where people are eager to share what they know and learn from others. We believe in Agile principles and empowering developers to use tools they love on small teams to make a big impact. 
        </p>
        <p>
        Whether you're enthusiastic about creating interactive user experiences, building highly available web services or architecting a cloud-based infrastructure, we have an opportunity for you.      
        </p>
      </div>
    </div>

    <div>
      <a href="http://ociweb.com">
        <img src="images/us/sponsors/oci.png"/>
      </a>

      <div>
        <p> Spring 2015, OCI is now *home* to Grails! </p>

        <p> OCI partners with clients to assess, design, architect, engineer, manage and support Mission-Critical, High Performance and Real Time systems. Our goal is to make IT solutions more open, scalable, reusable, interoperable, and affordable. Please visit <a href="http://www.ociweb.com">www.ociweb.com</a> to learn more about our service offerings, open source middleware technologies, and professional IT training. </p>
      </div>
    </div>

  </div>
</section>
