<section class="page-block">
  <div class="container sponsors">
    <div class="row">
      <div class="col-md-6">
      <a href="http://objectpartners.com">
        <img src="images/us/sponsors/objectpartners.png"/>
      </a>
      <div>
        <p>
          Object Partners develops custom web and mobile applications using Java, JavaScript, Groovy, iOS, Android, and hybrid mobile platforms. We’ve become the go to Grails consulting company and training partner for clients all over the US, as well as a technology leader in building modern front-end applications with technologies like Angular, React, and Bootstrap. Our enterprise experience means deep knowledge of real time data architecture, development, and messaging. We also have a high level of expertise in end-to-end development automation with technologies such as Gradle and Docker deployed on Cloud Services such as AWS.
        </p>
        <p>
          We have a 19 year history of success because we hire the best full-time developers and retain those developers and knowledge through our technology driven, non bureaucratic culture and phenomenal benefits. We use proven processes, technologies, and tools to fit within our client’s domain and enterprise architecture and work collaboratively with the business while building performant, scalable, maintainable applications. Put simply, We Get **it Done.
        </p>
      </div>
    </div>

    <div>
      <a href="http://ociweb.com">
        <img src="images/us/sponsors/oci.png"/>
      </a>

      <div class="col-md-6">
        <p><strong>OCI is Home to Grails</strong> Graeme Rocher, Grails co-founder and project lead, and Jeff Brown, principal software engineer and senior member of the Grails core development team, have joined OCI to lead the OCI Grails Team.</p>
        <p>The OCI Grails Team is available to provide up to 24/7 real-time technical support for Grails. Our team of seasoned architects and engineers can assist you with:</p>
        <ul>
          <li>Architecture &amp; design review</li>
          <li>Rapid prototyping, troubleshooting, &amp; debugging</li>
          <li>Customizing, modifying &amp; extending the Grails framework</li>
          <li>Feature &amp; application development</li>
          <li>Integration assistance &amp; support</li>
        </ul>
        <p><strong>Need help with a complex integration project? Does your organization need a Grails plug-in or feature developed and added to the framework?</strong> Our team of architects, engineers and mentors can help you customize the framework, and we will work alongside your team as you deploy and maintain your Grails projects.</p>
        <p>OCI offers flexible, customizable, open source support service with direct access to a dedicated team of architects and engineers, who developed the framework and have spent their careers supporting and maturing it.</p>
        <p><strong>OCI - we are software engineers.</strong> We build high performance, real-time, infrastructure and integration solutions for Fortune 500 companies around the globe. We partner with and empower clients in developing open systems solutions to augment their IT infrastructures, Cloud, and IoT/IIoT solutions. Please visit <a href="http://www.ociweb.com">www.ociweb.com</a> to learn more about our engineering services and open source integration solutions.</p>
        <p>More information about the 2016-17 Grails Roadmap is available at <a href="https://github.com/grails/grails-core/wiki/Roadmap">https://github.com/grails/grails-core/wiki/Roadmap</a>.</p>
      </div>
    </div>

    <div>
      <a href="https://corporate.target.com/careers/career-areas/technology">
        <img src="images/us/sponsors/target.jpg"/>
      </a>
      <div>
        <p>
          Target is building a domestic engineering team at our Headquarters in Minneapolis Minnesota. This is one of many strategic changes happening around us every day. Today is the day to be involved in something that will not only change our culture but also the face of retail. We need strong technical talent like you. Join us! -- <a href="https://codewithtarget.com">https://codewithtarget.com</a>
        </p>
      </div>
    </div>

   <div>
      <a href="http://www.gr8ladies.org">
        <img src="images/us/sponsors/gr8ladies.png"/>
      </a>
      <div>
        <p>
          Gr8Ladies is an organization for the support of women in the Gr8 (Groovy, Grails, Gradle, etc) community. Although our mission is to bring more women into the Gr8 community, our events are always open to anyone of any gender! We could never achieve our mission without allies. We strive to create a warm welcoming environment for individuals at every stage of their programming careers.
        </p>
      </div>
    </div>

    <div>
      <a href="http://www.tothenew.com">
        <img src="images/us/sponsors/tothenew.png"/>
      </a>
      <div>
        <p>
          TO THE NEW Digital is a premium digital services company that combines the power of technology, analytics, creative and content for digital transformation. We are experts in developing business-critical applications using Groovy and Grails. TO THE NEW Digital boasts of:
        </p>
        <ul>
          <li>100+ Grails architects and developers</li>
          <li>6+ years on Grails</li>
          <li>90+ live applications</li>
          <li>15+ Grails plugins</li>
          <li>500+ blog entries on Grails</li>
        </ul>
        <p>
          We are a preferred development partner of product companies, as well as large enterprises in US, Canada, UK, Sweden, Germany, France and Belgium. We have built great web products & solutions on Grails ranging from SaaS, e-commerce, social media, web 2.0 products, Big Data & analytics engines, video portals and marketplaces.
        </p>
        <p>
          Apart from Groovy and Grails, we also have deep expertise on cloud platforms especially AWS and Heroku, and NoSQL databases such as MongoDB and Redis.
        </p>
      </div>
    </div>

  </div>
</section>
