<section class="page-block">
  <div class="container sponsors">
    <div class="row">
      <div class="col-md-6">
      <a href="http://objectpartners.com">
        <img src="images/us/sponsors/objectpartners.png"/>
      </a>
      <div>
        <p>
Object Partners develops custom web and mobile applications using Java, JavaScript, Groovy, iOS, Android, and hybrid mobile platforms. We’ve become the go to Grails consulting company and training partner for clients all over the US, as well as a technology leader in building modern front-end applications with technologies like Angular, React, and Bootstrap. Our enterprise experience means deep knowledge of real time data architecture, development, and messaging. We also have a high level of expertise in end-to-end development automation with technologies such as Gradle and Docker deployed on Cloud Services such as AWS.
        </p>
        <p>
We have a 19 year history of success because we hire the best full-time developers and retain those developers and knowledge through our technology driven, non bureaucratic culture and phenomenal benefits. We use proven processes, technologies, and tools to fit within our client’s domain and enterprise architecture and work collaboratively with the business while building performant, scalable, maintainable applications. Put simply, We Get **it Done.
        </p>
      </div>
    </div>
    <div>
      <a href="http://ociweb.com">
        <img src="images/us/sponsors/oci.png"/>
      </a>

      <div class="col-md-6">
        <p><strong>OCI is Home to Grails</strong> Graeme Rocher, Grails co-founder and project lead, and Jeff Brown, principal software engineer and senior member of the Grails core development team, have joined OCI to lead the OCI Grails Team.</p>
        <p>The OCI Grails Team is available to provide up to 24/7 real-time technical support for Grails. Our team of seasoned architects and engineers can assist you with:</p>
        <ul>
          <li>Architecture &amp; design review</li>
          <li>Rapid prototyping, troubleshooting, &amp; debugging</li>
          <li>Customizing, modifying &amp; extending the Grails framework</li>
          <li>Feature &amp; application development</li>
          <li>Integration assistance &amp; support</li>
        </ul>
        <p><strong>Need help with a complex integration project? Does your organization need a Grails plug-in or feature developed and added to the framework?</strong> Our team of architects, engineers and mentors can help you customize the framework, and we will work alongside your team as you deploy and maintain your Grails projects.</p>
        <p>OCI offers flexible, customizable, open source support service with direct access to a dedicated team of architects and engineers, who developed the framework and have spent their careers supporting and maturing it.</p>
        <p><strong>OCI - we are software engineers.</strong> We build high performance, real-time, infrastructure and integration solutions for Fortune 500 companies around the globe. We partner with and empower clients in developing open systems solutions to augment their IT infrastructures, Cloud, and IoT/IIoT solutions. Please visit <a href="http://www.ociweb.com">www.ociweb.com</a> to learn more about our engineering services and open source integration solutions.</p>
        <p>More information about the 2016-16 Grails Roadmap will be released in September 2016. Subsequent communication will be posted via OCI social channels: <a href="https://www.facebook.com/objectcomputing">www.facebook.com/objectcomputing</a>, <a href="https://twitter.com/ObjectComputing">@ObjectComputing</a>, <a href="https://www.linkedin.com/company/oci">www.linkedin.com/company/oci</a></p>
      </div>
    </div>


    <!--<div>-->
      <!--<a href="https://corporate.target.com/careers/career-areas/information-technology">-->
        <!--<img src="images/us/sponsors/target.jpg"/>-->
      <!--</a>-->
      <!--<div>-->
        <!--<p>At Target, we have a vision: to become the best – the best culture and brand, the best place for growth and the company with the best reputation. It takes the best to become the best, and we are committed to building a team that does the right thing for our guests, shareholders, team members and communities.</p>-->

        <!--<p>The Target Technology Services (TTS) team designs and creates innovative solutions for a variety of applications, platforms and environments. TTS not only gives Target a competitive advantage in the marketplace, but also enhances the guest experience through the smart use of technology in the retail industry.</p>-->

        <!--<p>Target Corporation serves guests at more than 1,700 stores throughout the U.S. and at Target.com. Target will open over 100 locations in all 10 provinces across Canada in 2013. The company is headquartered in Minneapolis, Minnesota with additional headquarters locations in the U.S. in Arizona, New York, South Dakota and Utah; in Bangalore, India; and in Mississauga, Ontario, Canada. Since 1946, Target has given 5 percent of its income through community grants and programs; today, that giving equals more than $4 million a week.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div>-->
      <!--<a href="http://bloomhealth.com">-->
        <!--<img src="images/us/sponsors/bloom.png"/>-->
      <!--</a>-->
      <!--<div>-->
        <!--<p>-->
        <!--We're Bloom Health, a new kind of benefits company.-->
        <!--</p>-->
        <!--<p>-->
        <!--At Bloom we're proud of our open and collaborative culture, a place where people are eager to share what they know and learn from others. We believe in Agile principles and empowering developers to use tools they love on small teams to make a big impact.-->
        <!--</p>-->
        <!--<p>-->
        <!--Whether you're enthusiastic about creating interactive user experiences, building highly available web services or architecting a cloud-based infrastructure, we have an opportunity for you.-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->


  </div>
</section>
