<div class="col-md-2">
  <a href="#" data-toggle="modal" data-target="#eeee0334-c7d1-061a">Intro to React (Matt Zabriskie) </a>
  <div id="eeee0334-c7d1-061a" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">× </button>
          <h4 class="modal-title">Intro to React&nbsp;
            <small>by Matt Zabriskie </small>
          </h4>
        </div>
        <div class="modal-body">
          <p>Live coding an example app that covers the basics of React; including the component API, component lifecycle, props vs state, JSX, react-router, and webpack.  </p>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
