<section class="page-block">
  <div class="container">
    <h1>Travel</h1>
    <p>The official hotel of GR8Conf US is the <a href="http://doubletree3.hilton.com/en/hotels/minnesota/doubletree-suites-by-hilton-hotel-minneapolis-MSPLSDT/index.html">DoubleTree Minneapolis</a>.
    We will be acquiring a group rate for this hotel.  Check back soon!
    <!--Reserve using our group rate <a href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSPLSDT-LL5-20160728/index.jhtml?WT.mc_id=POG">here</a>-->
    </p>
  </div>
</section>
