/* GLOBAL STYLES
-------------------------------------------------- */

/* Slide styles */
.slide-bg {
    background-repeat:no-repeat;
    background-size: cover ;
    background-position:center;
}
.skyline-bg {
    background-image: url('minneapolis-skyline.jpg');
}
.groovy-slide {
    background-image: url('groovy-logo-white.svg');
    background-color: #4298b8;
}
.grails-slide {
    background-image: url('grails-cupsonly-logo-white.svg');
    background-color: #79b94c;
}
.grails-slide > .container > .carousel-caption > p > a {
    background-color: #79b94c;
}
.slack-slide {
    background-image: url('slack-white.svg');
    background-color: #78d4b6;
}
.slack-slide > .container > .carousel-caption > p > a {
    background-color: #78d4b6;
}
.ratpack-slide {
    background-image: url('ratpack-martini.svg');
    background-color: #fdc329;
}
.ratpack-slide > .container > .carousel-caption > p > a {
    background-color: #fdc329;
}
.gradle-slide {
    background-image: url('gradle.svg');
    background-color: lightgray;
}
.gradle-slide > .container > .carousel-caption > p > a {
    background-color: #022a33;
    color: #22da27;
}
.spock-slide {
    background-image: url('spock.png');
    background-color: lightgray;
}
.spock-slide > .container > .carousel-caption > p > a {
    background-color: #022a33;
    color: #ff3332;
    background-size: 80px 60px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 300px;
    /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom:0;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
